/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:wght@100;300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Tangerine&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --primario: rgb(33, 33, 33);
    --fondo: rgb(25, 23, 21);
    --secundario: #2473cd ;
    --grad-form: linear-gradient(90deg, rgba(50,59,171,1) 0%, rgba(13,129,205,1) 100%);
    --grad-fondo: linear-gradient(270deg, rgba(23,30,41,1) 0%, rgba(38,45,62,1) 100%);
    --grad-img: linear-gradient(180deg, rgba(61,154,234,1) 0%, rgba(73,84,238,1) 100%);
    --grad-boton: linear-gradient(90deg, rgba(96,195,241,1) 0%, rgba(73,58,251,1) 100%);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin:0
}

body {
    background-color: var(--fondo);
}

.titulo {
    text-align: center;
    color: white;
    font-family: "Audiowide";
    margin: 20px;
}

.titulo span {
    color: var(--secundario)
}

.formulario {
    background-color: var(--primario); /*referencial */
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    width: 800px;
    margin:auto;
}

.titulo-panel {
    grid-column: 1/3;
    background: var(--grad-form);
    text-align: center;
    color: white;
    font-family: "Audiowide";
    padding: 5px 0;
    border-radius: 5px
}

.control {
    margin: 0 20px;
}

.fecha {
    padding: 10px;
    
}

.subtitulo {
    color:var(--secundario);
    text-align: center;
    font-family: "Audiowide";
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.etq {
    color: white;
    font-family: "Poppins";
    width: 90px;
    display: inline-block;
}

.entrada {
    width: 150px;
    background: var(--grad-form);
    color: white;
    font-family: "Audiowide";
    border:none;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.selector option {
    background-color: var(--fondo);
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}



.boton {
    display: block;
    margin: auto;
    width: 100px;
    margin-top:20px;
    color: var(--secundario);
	background: var(--primario);
    text-transform: uppercase;
    font-family: "Audiowide";
    outline: 1px solid var(--secundario);
    border:none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    outline: 1px solid white;
    color: white;
}

.hora {
    padding: 10px;
}

.tablas {
    margin: 10px;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}

.tabla {
    width: 100%;
}

.tabla__titulo {
    color:var(--secundario);
    font-family: "Audiowide";
}

.tabla__fila {
    color:white;
    font-family: "Poppins"
}

.titulo-all {
	position: relative;
}

.sub-posicion{
	position: absolute;
	transform: translateY(-15px);
	display:inline;
	width: 70px;
}
