/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:wght@100;300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Tangerine&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --primario: rgb(33, 33, 33);
    --fondo: rgb(25, 23, 21);
    --secundario: #2473cd ;
    --grad-fondo: linear-gradient(270deg, rgba(23,30,41,1) 0%, rgba(38,45,62,1) 100%);
    --grad-img: linear-gradient(180deg, rgba(61,154,234,1) 0%, rgba(73,84,238,1) 100%);
    --grad-boton: linear-gradient(90deg, rgba(96,195,241,1) 0%, rgba(73,58,251,1) 100%);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--fondo)
}

.titulo {
    color:white;
    font-family: "Audiowide";
    text-align: center;
    margin: 40px;
    font-size: 35px;
}

.titulo span {
    color: var(--secundario);
}

.cuadricula {
    display :grid;
    grid-template-columns: 1fr;
    margin: auto;
    max-width: 90%;
    width: 800px;
    gap:30px;
}

.tecnico { 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: var(--grad-fondo);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: inset 4px 2px 10px rgb(122, 122, 122),4px 2px 10px black;     
}

.tecnico__img {
    display: flex;
    padding-top: 30px; 
}

.tecnico__img img {
    margin: auto;
    border-radius: 50%;
    outline: 5px solid var(--secundario);
    box-shadow:  10px 5px 10px rgb(35, 44, 167);
}

.tecnico__datos {
    border-right: 3px solid black;
    box-shadow: 2px 2px 5px white; 
}

.tecnico__datos img {
    width: 150px;
    height: 150px;
}

.tecnico__datos h3 {
    font-family: "Audiowide";
    color: var(--secundario);
    text-align: center;
}

.tecnico__nombre{
    color:white;
    font-family: "Roboto";
    font-weight: 300;
    text-align: center;
    padding: 0px 40px ;
}


.tecnico__telefono {
    color:white;
    font-family: "Poppins";
    text-align: center;
}

.tecnico__horario {
    position: relative;
    border-left: 1px solid gray;
	overflow: hidden;
    height: 350px; /*  observacion */
    transition: all 0.3s
}

.tecnico__controles {
    display: flex;
    justify-content: space-around;
}

.btn__siguiente, .btn__anterior{
    margin: 30px 0 15px 0;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 50px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(190,190,191,1) 20%, rgba(117,117,117,1) 41%, rgba(80,80,81,1) 71%, rgba(24,24,25,1) 100%);
    box-shadow: inset 3px 3px 3px rgb(122, 122, 122), 2px 2px 2px rgb(10, 10, 10); 
    cursor: pointer;
    transition: color .3s
 }

.btn__anterior:active, .btn__siguiente:active {
    color:white;
    text-shadow: 0 0 15px blue,0 0 25px blue,0 0 35px blue;
    box-shadow: inset -3px -3px 3px rgb(122, 122, 122),inset 3px 3px 3px rgb(10, 10, 10);
 }

/* li {
    width: 100%;
    list-style: none;
} */

 .carrusel {
    display: flex;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 200px;
	transition: 0.3s;      
 }


 .carrusel__contenido {
    width: 100%;   
    list-style: none;
    
 }
 
 .carrusel__espacio {
	transition: 0.3s;
 	height: 200px;
 	overflow: hidden
 }
 
.carrusel__espacio--altura {
	height: 380px;
}

 .tabla-1 {
    width: 400px;
    
 }

.tabla1__columna {
	display: flex;
	justify-content: flex-start;
	
}


.tabla-2 {
    width: 100%;
     
}

.tabla-2__cabecera {
    color:var(--secundario);
    text-align:center;
    font-family: "Audiowide";
    text-transform: lowercase;
}
 
.tabla-2__hora button {
    outline: none;
    border: none;
    color:white;
/*     text-decoration: line-through; Subrrayado*/ 
    text-align:center;
    background: var(--grad-fondo);
    font-family: "Roboto";
    padding: 5px 5px;
    margin: 5px auto;
    display: block;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: inset 3px 3px 3px rgb(122, 122, 122), 3px 3px 3px rgb(10, 10, 10);
}


.tabla-2__hora button:active {
    color:white;
    text-shadow: 0 0 5px rgb(6, 6, 153),0 0 5px blue,0 0 5px blue;
    box-shadow: inset -3px -3px 3px rgb(122, 122, 122),inset 3px 3px 3px rgb(10, 10, 10);
}

.mostrar__horas {
	width: 180px;
    margin: 20px auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Audiowide";
    color: white;
    background: var(--grad-boton); 
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background outline 0.3s
}

.mostrar__horas:hover {
    background: none; 
    outline: 2px solid var(--secundario);
    color: var(--secundario)
}

.tecnico__horario--altura {
    height: 500px;
}

@media (max-width: 950px) {
    .cuadricula {
        max-width: 100%;
        width: 360px;
    }
    
    .tecnico { 
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;     */
    }
    
    .tecnico__datos {
        height: 355px;
        border-right: 0px;
        border-bottom: 3px solid black;
        box-shadow: 2px 2px 5px white; 
    }
    
    
    .tecnico__horario {
        position: relative;
        border-top: 1px solid gray;
        overflow: hidden;
        border-left: 0;
        height: 350px;
        transition: all 0.3s
    }
 
    .tabla-1 {
        width: 360px;
    } 
    .tecnico__horario--altura {
        height: 500px;
    } 

    .mostrar__horas:hover {
        background: none; 
        outline: 2px solid var(--secundario);
        color: var(--secundario)
    }
    
}






