/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:wght@100;300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Tangerine&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --primario: rgb(33, 33, 33);
    --fondo: rgb(25, 23, 21);
    --secundario: #2473cd ;
    --grad-form: linear-gradient(90deg, rgba(50,59,171,1) 0%, rgba(13,129,205,1) 100%);
    --grad-fondo: linear-gradient(270deg, rgba(23,30,41,1) 0%, rgba(38,45,62,1) 100%);
    --grad-img: linear-gradient(180deg, rgba(61,154,234,1) 0%, rgba(73,84,238,1) 100%);
    --grad-boton: linear-gradient(90deg, rgba(96,195,241,1) 0%, rgba(73,58,251,1) 100%);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin:0
}


.contenedor {
    margin: 20px 5%;
    background-color:green;
    padding: 20px;
    border-radius: 20px;
}

.cliente {
    font-family: "Audiowide";
    color: white;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline white; 
}

.grid__seccion {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 10px 0 40px 0 ;
    border-bottom: 1px solid var(--secundario);
    padding-bottom: 20px;
}

.grid__items {
    display: grid;
    grid-template-columns: 10px max-content;
    grid-template-rows: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    /* background-color: green; */
}

.largo{
	grid-column: 1/5;
}

.grid__items span {
    font-family: "Poppins";
    color: white;
}

.grid__items i {
    color: var(--secundario)
}

.contenedor-act {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin: 0 15%;
    gap: 20px;

}

.actualizar{ 
	color: white;
	background: var(--secundario);
	font-family: "Audiowide";
	border: none;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.bordes {
    background-color: var(--primario);
    border-radius: 10px;
}


.sub-titulo {
    color: white;
    font-family: "Audiowide";
    font-size: 1rem;
    text-align: center;
   	margin-top: 15px;
}

.tabla {
    background-color: var(--primario);
    border-radius: 10px;
    width: 100%;
    padding:20px;
}

.titulo-col {
    color: white;
    font-family: "Audiowide";
    font-size: 0.8rem;
}

.etiqueta {
	display: block;
    color: white;
    font-family: "Poppins";
    font-size: 0.9rem;
    width:100%;
    text-align: center;
    margin: 0 5px;
}

.cont-total {
	display:flex;
	justify-content: center;
  	margin: 20px 0;

}

.etq-total {
	color: white;
	font-family: "Audiowide";
	margin: 5px;
}

.total {
    background: var(--grad-form) ;
    border-radius: 5px;
    border: none;
    padding:5px;
    color: white;
    font-family: "Audiowide";
    text-align: center;
    margin: 5px;
}