/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Tangerine&display=swap');

/*===== VARIABLES CSS =====*/

:root {
    --primario: rgb(33, 33, 33);
    --fondo: rgb(25, 23, 21);
    --secundario: #2473cd ;
    --gradiente: linear-gradient(90deg, rgba(50,59,171,1) 0%, rgba(13,129,205,1) 100%);
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--fondo) !important;
}
.titulo {
	color: white;
	font-family: "Audiowide";
	text-align: center;
	margin-top: 10px;
}
.titulo span{
	color: var(--secundario);
}
.tabla{
    /* margin: 30px; */
    border-radius:20px;
    background: var(--primario);
    padding: 10px;
    margin: 20px;
    overflow-x: auto;
}

.tabla__tools {
    display: flex;
    justify-content: space-between;
}  

.tabla__tools ul {
    display: flex;
    list-style:none;
    gap: 20px;
    align-items: center;
}

.tabla__tools ul li .icono {
    color: white;
    font-size: 20px;
    padding:10px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(50,59,171,1) 0%, rgba(13,129,205,1) 100%);
    transition: 0.3s
}

.tabla__tools ul li .icono:hover {
	transform: scale(1.1);
    cursor: pointer;
}

.tabla__tools input {
    color: white;
    font-size: 15px;;
    background: var(--fondo);
    height: 30px;
    width:100%;
    margin: 30px;
    align-items: center;
    border-radius: 5px;
    padding: 0 15px;
}

.tabla__titulo {
    font-family: "Noto Sans";
    font-size: 15px;
    color: white;
}

.tabla__titulo tr th {
    padding: 10px 10px;
}

.tabla__contenido {
    padding: 0 20px 20px 20px;
}

.tabla__info tr td {
    color: white;
    font-family: "Noto Sans";
    font-size: 15px;
}

#tabla__filas {
	background-color: var(--primario);
	transition: .3s;
}

#tabla__filas:hover {
	background-color: rgba(13,129,205,1);
	
}

#tabla__filas:active {
	background-color: rgba(50,59,171,1);
	
}

select{
    color: white;
}

select option {
    background: var(--primario)
}

label {
    color: white;
    font-family: "Noto Sans";
}


.contenido {
	height: 100vh;
	overflow-y: auto;
}

.modal-content {
	background-color: var(--primario) !important;
}
.formulario {
    margin: auto;
    width: 100%;
/*     max-width: 900px; */
    padding:10px;
    text-align: center;
    background-color: var(--primario);
    border-radius: 10px;
}

.form__contenedor {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 10px
}

.form__titulo {
    grid-column: 1/3; 
    grid-row: 1/2; 
    color:white;
    background: var(--gradiente);
    padding: 10px 0;
    margin: 0 !important;
    font-family: "Audiowide";
    border-radius: 5px;    
}
.form__titulo p {
	margin: 0;
}
.form__grupo{
    position: relative;
}
.form__input {
    width: 80%;
    background-color: var(--fondo) !important;
    border: 1px solid var(--fondo) !important ;
    border-radius: 5px;
    color: white !important;
    font-size: 16px;
    font-family: Poppins;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
    transform: translateY(-15px) scale(.7);
    transform-origin: left top;
    color: var(--secundario);
}

.form__label {
    font-family: "Noto sans";
    font-size: 0.9em;
    color: gray;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: .5s, color .3s;
}

.form__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height: 1px;
    background-color: rgb(60, 140, 194);
    transform:scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form__seleccion {
    background: linear-gradient(90deg, rgba(50,59,171,1) 0%, rgba(13,129,205,1) 100%);
    outline: none;
    border:none;
    font-family: "Audiowide";
    color:white;
    border-radius: 5px;
    padding-left: 10px; 
}

.form__opcion {
    background: var(--primario);
    font-family:"arial", "Audiowide" !important;
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line {
    transform: scale(1);
}

.btn__insertar,.btn__modificar{
    font-size: 1em;
    font-family: 'Audiowide';
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(50,59,171,1) 0%, rgba(13,129,205,1) 100%);
    border: 1px solid rgb(61, 61, 192);
    border-radius: 5px;
    color: white;
    transition: 0.6s;
    font-weight: 400;
    padding: 10px;
}

.btn__insertar:hover,.btn__modificar:hover{
    background: var(--primario);
    border: 1px solid var(--secundario);
    color: var(--secundario);
    cursor: pointer;
}

@media (max-width: 530px) {
    .form__titulo {
        grid-column: 1/2; 
        grid-row: 1/2; 
    }

    .form__contenedor {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    
    .form__seleccion {
        padding: 5px 5px;
    }
}
.btn__cerrar {
	color: white;
    font-size: 20px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(50,59,171,1) 0%, rgba(13,129,205,1) 100%);
    transition: 0.3s;
    height: 48px;
    width:48px;
}

.btn__cerrar:hover {
	transform: scale(1.1);
    cursor: pointer;
}
.activado {
	
	display: flex;
	margin: auto;
	width: 40px;
	height: 25px;
	border-radius: 1000px;
	border: 3px solid rgb(167,253,72);
	position: relative;
}

.activado span {
	width: 12px;
	height: 12px;
	background-color: rgb(167,253,72);
	border-radius: 50%;
	margin: auto;
	margin-left: 18px;
}

.desactivado {
	margin: auto;
	position: relative;
	display: flex;
	width: 40px;
	height: 25px;
	border-radius: 1000px;
	border: 3px solid #dc3545;
}

.desactivado span {
	width: 12px;
	height: 12px;
	background-color: #dc3545;
	border-radius: 50%;
	margin: auto;
	margin-right: 18px;
}